<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Test</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.davidcvasquez.test</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Test Document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document-BGImage-Name</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document-CenteredImage-Name</string>
				<key>UTTypeIconText</key>
				<string>Test</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.davidcvasquez.test</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>test</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/test</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Test Metadata</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document-BGImage-Name</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document-CenteredImage-Name</string>
				<key>UTTypeIconText</key>
				<string>Metadata</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.davidcvasquez.metadata</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Test Book</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document-BGImage-Name</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document-CenteredImage-Name</string>
				<key>UTTypeIconText</key>
				<string>Book</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.davidcvasquez.book</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Test Document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document-BGImage-Name</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document-CenteredImage-Name</string>
				<key>UTTypeIconText</key>
				<string>Test</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.davidcvasquez.test</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>test</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/test</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Test Book</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document-BGImage-Name</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document-CenteredImage-Name</string>
				<key>UTTypeIconText</key>
				<string>Creator</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.davidcvasquez.book</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Test Metadata</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document-BGImage-Name</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document-CenteredImage-Name</string>
				<key>UTTypeIconText</key>
				<string>Metadata</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.davidcvasquez.metadata</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
